<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AppName</key>
		<string>校园信息</string>
		<key>AppIcon</key>
		<string>app-infomation.png</string>
		<key>AppAction</key>
		<string>ZJUInfoListViewController</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>就业实习</string>
		<key>AppIcon</key>
		<string>app-career.png</string>
		<key>AppAction</key>
		<string>ZJUCareerViewController</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>校车</string>
		<key>AppIcon</key>
		<string>app-bus.png</string>
		<key>AppAction</key>
		<string>Schoolbus</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>美食</string>
		<key>AppIcon</key>
		<string>app-food.png</string>
		<key>AppAction</key>
		<string>Food</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>住宿</string>
		<key>AppIcon</key>
		<string>app-hotel.png</string>
		<key>AppAction</key>
		<string>Hotel</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>图书馆</string>
		<key>AppIcon</key>
		<string>app-library.png</string>
		<key>AppAction</key>
		<string>ZJULibraryViewController</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>浙大黄页</string>
		<key>AppIcon</key>
		<string>app-yellowpage.png</string>
		<key>AppAction</key>
		<string>Yellow</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>WiFi认证</string>
		<key>AppIcon</key>
		<string>app-wifi.png</string>
		<key>AppAction</key>
		<string>Wifi</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>我的iZJU</string>
		<key>AppIcon</key>
		<string>app-user.png</string>
		<key>AppAction</key>
		<string>ZJUAccountViewController</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>浙大地图</string>
		<key>AppIcon</key>
		<string>app-map.png</string>
		<key>AppAction</key>
		<string>Map</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>浙大邮箱</string>
		<key>AppIcon</key>
		<string>app-mail.png</string>
		<key>AppAction</key>
		<string>Email</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>浙大百科</string>
		<key>AppIcon</key>
		<string>app-wiki.png</string>
		<key>AppAction</key>
		<string>Baike</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>西溪广播台</string>
		<key>AppIcon</key>
		<string>app-radio.png</string>
		<key>AppAction</key>
		<string>ZJURadioViewController</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>共享空间</string>
		<key>AppIcon</key>
		<string>app-infocommon.png</string>
		<key>AppAction</key>
		<string>ZJUInfoCommonViewController</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>校内IP查询</string>
		<key>AppIcon</key>
		<string>app-ip.png</string>
		<key>AppAction</key>
		<string>ZJUIPCheckViewController</string>
	</dict>
	<dict>
		<key>AppName</key>
		<string>意见反馈</string>
		<key>AppIcon</key>
		<string>app-feedback.png</string>
		<key>AppAction</key>
		<string>ZJUFeedbackViewController</string>
	</dict>
</array>
</plist>
